<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<!DOCTYPE mapper-->
<!--        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"-->
<!--        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->

<!--<mapper namespace="com.example.apitemplate.domain.menu.MenuMapper">-->
<!--    <resultMap id="menuResultMap" type="com.example.apitemplate.domain.menu.Menu">-->
<!--        <id property="menuId" column="MENU_ID"/>-->
<!--        <result property="menuNm" column="MENU_NM"/>-->
<!--        <result property="menuUrl" column="MENU_URL"/>-->
<!--        <result property="prtMenuId" column="PRT_MENU_ID"/>-->
<!--        <result property="lvl" column="LVL"/>-->
<!--        <result property="leafYn" column="LEAF_YN"/>-->
<!--        <result property="crtDt" column="CRT_DT"/>-->
<!--        <result property="udtDt" column="UDT_DT"/>-->
<!--        <result property="crtId" column="CRT_ID"/>-->
<!--        <result property="udtId" column="UDT_ID"/>-->
<!--    </resultMap>-->

<!--    <insert id="createMenu" parameterType="com.example.apitemplate.domain.menu.Menu" useGeneratedKeys="true"-->
<!--            keyProperty="menuId">-->
<!--        INSERT INTO TBL_MENU (MENU_ID, MENU_NM, MENU_URL, PRT_MENU_ID, LVL, LEAF_YN, CRT_ID, UDT_ID)-->
<!--        VALUES (#{menuId}, #{menuNm}, #{menuUrl}, #{prtMenuId}, #{lvl}, #{leafYn}, #{crtId}, #{udtId})-->
<!--    </insert>-->
<!--    <select id="findByMenuId" parameterType="string" resultMap="menuResultMap">-->
<!--        SELECT *-->
<!--        FROM TBL_MENU-->
<!--        WHERE MENU_ID = #{id}-->
<!--    </select>-->
<!--    <select id="findAllMenuList" resultMap="menuResultMap">-->
<!--        SELECT *-->
<!--        FROM TBL_MENU-->
<!--    </select>-->
<!--    <update id="updateMenu" parameterType="com.example.apitemplate.domain.menu.Menu">-->
<!--        UPDATE TBL_MENU-->
<!--        SET MENU_NM = #{menuNM},-->
<!--            LVL     = #{lvl},-->
<!--            UDT_DT  = #{udtDt},-->
<!--            UDT_ID  = #{udtId}-->
<!--        WHERE MENU_ID = #{menuId}-->
<!--    </update>-->
<!--</mapper>-->