<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.apitemplate.domain.user.mapper.UserMapper">
    <resultMap id="userResultMap" type="com.example.apitemplate.domain.user.vo.UserVO">
        <result property="usrId" column="USR_ID"/>
        <result property="usrEmail" column="USR_EMAIL"/>
        <result property="pwd" column="PWD"/>
        <result property="usrNm" column="USR_NM"/>
        <result property="jumin" column="JUMIN"/>
        <result property="phone" column="PHONE"/>
        <result property="addr1" column="ADDR1"/>
        <result property="addr2" column="ADDR2"/>
        <result property="remark" column="REMARK"/>
        <result property="usrAuthId" column="USR_AUTH_ID"/>
        <result property="lastLogDt" column="LAST_LOG_DT"/>
        <result property="lastPwdDt" column="LAST_PWD_DT"/>
        <result property="delYn" column="DEL_YN"/>
        <result property="useYn" column="USE_YN"/>
        <result property="crtDt" column="CRT_DT"/>
        <result property="udtDt" column="UDT_DT"/>
        <result property="crtId" column="CRT_ID"/>
        <result property="udtId" column="UDT_ID"/>
    </resultMap>

    <select id="findById" resultMap="userResultMap" parameterType="string">
        SELECT *
        FROM TBL_USER
        WHERE USR_ID = #{usrId}
    </select>

    <insert id="insertUser" parameterType="com.example.apitemplate.domain.user.vo.UserVO" useGeneratedKeys="true"
            keyProperty="usrId">
        INSERT INTO TBL_USER
        (USR_ID, USR_EMAIL, PWD, USR_NM, JUMIN, PHONE, ADDR1, ADDR2, REMARK, USR_AUTH_ID, CRT_ID, UDT_ID)
        VALUES (#{usrId}, #{usrEmail}, #{pwd}, #{usrNm}, #{jumin}, #{phone}, #{addr1}, #{addr2}, #{remark},
                #{usrAuthId}, #{crtId}, #{udtId});
    </insert>

    <update id="updateUser" parameterType="com.example.apitemplate.domain.user.vo.UserVO">
        UPDATE TBL_USER
        SET USR_EMAIL   = #{usrEmail},
            USR_NM      = #{usrNm},
            JUMIN       = #{jumin},
            PHONE       = #{phone},
            ADDR1       = #{addr1},
            ADDR2       = #{addr2},
            REMARK      = #{remark},
            PWD         = #{pwd},
            LAST_PWD_DT = CURRENT_TIMESTAMP,
            USR_AUTH_ID = #{usrAuthId},
            DEL_YN      = #{delYn},
            USE_YN      = #{useYn},
            UDT_DT      = CURRENT_TIMESTAMP,
            UDT_ID      = #{udtId}
        WHERE USR_ID = #{usrId}
    </update>

    <update id="deleteUser" parameterType="com.example.apitemplate.domain.user.vo.UserVO">
        UPDATE TBL_USER
        SET DEL_YN = 'Y',
            UDT_DT = CURRENT_TIMESTAMP,
            UDT_ID = #{udtId}
        WHERE USR_ID = #{usrId}
    </update>

    <update id="updateLoginInfo" parameterType="com.example.apitemplate.domain.user.vo.UserVO">
        UPDATE TBL_USER
        SET LAST_LOG_DT = CURRENT_TIMESTAMP
        WHERE USR_ID = #{usrId}
    </update>


    <select id="findAllUsers" resultMap="userResultMap">
        SELECT *
        FROM TBL_USER
    </select>


</mapper>